#friend-screen__link{
    text-align: center;
    display: block;
    background-color: rgb(209, 233, 254);
    padding: 10px 0;
}  

#friend-screen__link i{
    color: var(--light_water);
    margin-right: 5px;
}

.friend-screen__text{
    margin-left: 10px;
}


@keyframes splash_disapper {
    form{
        opacity: 1;
    }

    to{
        opacity: 0;
        visibility: hidden;
    }
}


#splash{
    width: 100vw;
    height: 100vh;
    background-color: var(--clean_water);
    color: aliceblue;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    animation: splash_disapper 1s ease-in-out forwards;
}